[Unit]
Description=webapp daemon

[Service]
User=root
WorkingDirectory=/home/dealbuzz/bepari
ExecStart=/home/dealbuzz/bepari/venv/bin/gunicorn core.wsgi:application -c deployment/gunicorn/gunicorn_cfg.py
[Install]
WantedBy=multi-user.target